<div class="ic">More Website Templates @ TemplateMonster.com - August 02, 2019!</div>
<div class="container_12">
    <div class="grid_8">
        <h3>About Us</h3>
        <img src="assets/images/page2_img.jpg" alt="" class="img_inner fleft">
        <div class="extra_wrapper">
            <p class="col1">Following the <span><a href="http://blog.templatemonster.com/free-website-templates/"
                                                   rel="dofollow">link</a></span>, you’ll learn more about this
                goodie produced by <br> TemplateMonster.com. </p>
            <p class="col1">Want to get more designs of this kind? Check out the category of premium <span><a
                    href="http://www.templatemonster.com/category/cafe-and-restaurant-website-templates/"
                    rel="nofollow">Cafe &amp; Restaurant templates</a></span>.</p>
            <p>A great restaurant website can attract new customers, maintain loyal ones, and raise the overall profile of the establishment outside of the physical location.. </p>
        </div>
        Well, building the best restaurant website doesn’t have to be a time-consuming or difficult task.
		In many cases, there are simple things you can build into your website to share the most important information with your frequent and potential guests.
    </div>
    <div class="grid_4">
        <h3>Features</h3>
        <p class="col1 pad1">A restaurant management system is designed with capabilities and features 
		to help operate and manage your restaurant. </p>
        <p class="pad1">The most heralded restaurants share several qualities in common, which help ensure their continued growth.</p>
        <ul class="list">
            <li><a href="#">Serving high quality food</a></li>
            <li><a href="#">The dining experience</a></li>
            <li><a href="#">The restaurant ambience </a></li>
            <li><a href="#">Restaurant cleanliness</a></li>
            <li><a href="#">Something unique</a></li>
            <li><a href="#">The price factor </a></li>
            <li><a href="#">The serving staff knows their customers  </a></li>
            <li><a href="#">The owner has passion </a></li>
        </ul>
    </div>
    <div class="grid_12">
        <h3 class="head1">The Best of Professionals</h3>
    </div>
    <div class="grid_3">
        <div class="box maxheight">
            <img src="assets/images/page2_img1.jpg" alt="">
            <div class="title"><a href="#">Binita Kr. Rajak</a></div>
            Branding Specialist of The Restaurant.

        </div>
    </div>
    <div class="grid_3">
        <div class="box maxheight">
            <img src="assets/images/page2_img2.jpg" alt="">
            <div class="title"><a href="#">Md Saif Alam</a></div>
            Manager Of The Restaurant.
        </div>
    </div>
    <div class="grid_3">
        <div class="box maxheight">
            <img src="assets/images/page2_img3.jpg" alt="">
            <div class="title"><a href="#">Indranil Majumdar</a></div>
            Product Manager.

        </div>
    </div>
    <div class="grid_3">
        <div class="box maxheight">
            <img src="assets/images/page2_img4.jpg" alt="">
            <div class="title"><a href="#">Prince Kumar</a></div>
            Chef Of The Restaurant.

        </div>
    </div>
</div>
