<div class="ic">More Website Templates @ TemplateMonster.com - August 02, 2019!</div>
<a href="index-2.html" class="block1">
    <img src="assets/images/blur_img1.jpg" alt="">
    <span class="price"><span>Breakfast</span><span><small>Rs</small> 40</span><strong></strong></span>
</a>
<a href="index-2.html" class="block1">
    <img src="assets/images/blur_img2.jpg" alt="">
    <span class="price"><span>Lunch</span><span><small>Rs</small> 70</span><strong></strong></span>
</a>
<a href="index-2.html" class="block1">
    <img src="assets/images/blur_img3.jpg" alt="">
    <span class="price"><span>Dinner</span>
<span><small>Rs</small> 100</span><strong></strong></span>
</a>

<div class="container_12">
    <div class="grid_12">
        <h3>New in Menu</h3>
    </div>
    <div class="grid_3">
        <div class="box maxheight">
            <img src="assets/images/box_img1.jpg" alt="">
            <div class="title">Lorem Ipsum</div>
				Lorem Ipsum is simply dummy text of the printing and typesetting industry.
				When an unknown printer took a galley of type and scrambled it to make a type specimen book.
				looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, 
				and going through the cites of the word in classical literature.
            <br>
            <a href="#">More Info</a>
        </div>
    </div>
    <div class="grid_3">
        <div class="box maxheight">
            <img src="assets/images/box_img2.jpg" alt="">
            <div class="title">Lorem Ipsum</div>
				Lorem Ipsum is simply dummy text of the printing and typesetting industry.
				When an unknown printer took a galley of type and scrambled it to make a type specimen book.
				looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, 
				and going through the cites of the word in classical literature.
            <br>
            <a href="#">More Info</a>
        </div>
    </div>
    <div class="grid_3">
        <div class="box maxheight">
            <img src="assets/images/box_img3.jpg" alt="">
            <div class="title">Lorem Ipsum</div>
				Lorem Ipsum is simply dummy 
				text of the printing and typesetting industry.
				When an unknown printer took a galley of type and scrambled it to make a type specimen book.
				looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, 
				and going through the cites of the word in classical literature.
            <br>
            <a href="#">More Info</a>
        </div>
    </div>
    <div class="grid_3">
        <div class="box maxheight">
            <img src="assets/images/box_img4.jpg" alt="">
            <div class="title">Lorem Ipsum</div>
				Lorem Ipsum is simply dummy text of the printing and typesetting industry.
				When an unknown printer took a galley of type and scrambled it to make a type specimen book.
				looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, 
				and going through the cites of the word in classical literature.
            <br>
            <a href="#">More Info</a>
        </div>
    </div>
</div>
