<div class="content">
    <div class="ic">More Website Templates @ TemplateMonster.com - August 02, 2019!</div>
    <div class="container_12">
        <div class="grid_8">
            <h3 class="">Blog</h3>
            <div class="post">
                <img src="assets/images/page4_img1.jpg" alt="" class="img_inner fleft">
                <div class="extra_wrapper">
                    <div class="title col3"><a href="#">Reflect On The Resturent Experiance </a></div>
                    <p class="col1">
                        <time datetime="2019-01-01">22.07.2019</time>
                        <span></span>posted by
                        <a href="#">admin</a><span></span><a href="#">comments:5</a>
                    </p>
                    After Year of enthusiastic eating and working in the food biz,
					there is an important lesson i have learned : lighting matters.
                    <br>
                    <a href="#" class="link1">More Info</a>
                </div>
            </div>
            <div class="post">
                <img src="assets/images/page4_img2.jpg" alt="" class="img_inner fleft">
                <div class="extra_wrapper">
                    <div class="title col3"><a href="#">Recipes and Techniques</a></div>
                    <p class="col1">
                        <time datetime="2019-01-01">20.07.2019</time>
                        <span></span>posted by
                        <a href="#">admin</a><span></span><a href="#">comments:3</a>
                    </p>
                    Patrons who enjoy your dishes will be thrilled to find out how to try to recreate
					the flavors at home (as long as you don’t give away all of your secrets). 
					Put together a seasonal recipe post, or include a step-by-step instructional
					video on a particular cooking technique. Work with your bartender to highlight what’s
					happening behind the bar, share pairing ideas, or show how to make a favorite cocktail..
                    <br>
                    <a href="#" class="link1">More Info</a>
                </div>
            </div>
            <div class="post">
                <img src="assets/images/page4_img3.jpg" alt="" class="img_inner fleft">
                <div class="extra_wrapper">
                    <div class="title col3"><a href="#">Owner Spotlights </a></div>
                    <p class="col1">
                        <time datetime="2019-01-01">16.07.2019</time>
                        <span></span>posted by
                        <a href="#">admin</a><span></span><a href="#">comments:2</a>
                    </p>
                    Your restaurant is your unique vision, and your customers want to
					know more about it. Share some of the inspiration behind your dishes.
					Did you have an Italian grandmother who taught you how to make your sauce?
					Your customers would love to hear about her. Also, think about what keeps you inspired.
                    <br>
                    <a href="#" class="link1">More Info</a>
                </div>
            </div>
        </div>
        <div class="grid_3 prefix_1">
            <h3 class="head3">Categories</h3>
            <ul class="list">
                <li><a href="#">Formality Spectrum</a></li>
                <li><a href="#">Contemporary Casual</a></li>
                <li><a href="#">Price</a></li>
                <li><a href="#">Food </a></li>
                <li><a href="#">Casual Dining</a></li>
                <li><a href="#">Fast Food </a></li>
                <li><a href="#">Food Trucks and Concession Stands </a></li>
                <li><a href="#">Pop-Up Restaurant </a></li>
                <li><a href="#"> Ghost Restaurant </a></li>
                <li><a href="#">Fine Dining</a></li>
            </ul>
            <h3 class="head3">Archives</h3>
            <ul class="list">
                <li><a href="#">September - 2019</a></li>
                <li><a href="#">August - 2019</a></li>
                <li><a href="#">July-2019</a></li>
                <li><a href="#">June-2019</a></li>
				<li><a href="#">May - 2019</a></li>
                <li><a href="#">April - 2019</a></li>
				
				
            </ul>
        </div>
    </div>
</div>
